/* Fonts */
@font-face {
  font-family: "Pacific Northwest";
  src: url("/assets/fonts/pacific_northwest-webfont.woff2") format("woff2"),
    url("/assets/fonts/pacific_northwest-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Root Beer";
  src: url("/assets/fonts/root_beer-webfont.woff2") format("woff2"),
    url("/assets/fonts/root_beer-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Root variables */
:root {
  --color-primary: #0099a5;
  --color-secondary: #4f9eb6;
  --color-background: #f9f9f9;
  --color-focus: #242aea;
  --color-font: #282b3f;
  --color-hover: #54ced1;
  --color-border: #cccccc;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: "Arial", sans-serif;
  background-color: var(--color-background);
  color: var(--color-font);
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Pacific Northwest", Times, serif;
  color: var(--color-primary);
  font-size: xx-large;
  margin-top: 40px;
}

h2 {
  font-family: "Pacific Northwest", Times, serif;
  color: var(--color-primary);
  font-size: x-large;
}

h3 {
  font-family: "Pacific Northwest", Times, serif;
  color: var(--color-primary);
  font-size: larger;
}

/* Container */
.container {
  width: 100vw; /* Full width of the viewport */
  height: fit-content; /* Full height of the viewport */
  min-height: 100vh; /* Minimum height of the viewport */
  /* max-width: 1200px; Maximum width of the container */
  display: flex; /* Flexbox for layout control */
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Distribute items: top, middle, bottom */
  align-items: center; /* Center items horizontally */
  background-color: var(
    --color-background
  ); /* Optional: Add background color */
  padding: 1em; /* Add spacing inside the container */
  box-sizing: border-box; /* Ensure padding is included in dimensions */
}

/* Navigation bar */
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  background-color: var(--color-background);
  color: #0099a5;
  font-family: "Root Beer", Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid var(--color-border);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

nav a {
  text-decoration: none;
  color: #0099a5;
  font-weight: bold;
  letter-spacing: 0.125cap;
  margin: 0 1em;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--color-hover);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

/* Main content */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Home Page */
.hero_img_container {
  display: center;
  text-align: center; /* Centers the image within the container */
  height: 45vh;
  width: 100vw;
  border-radius: none !important; /* Override any other border-radius */
  margin-bottom: 20px;
  overflow: hidden; /* Hide any overflow */
}

.hero_img {
  width: 100%;
  border-radius: 0;
}

.hero_img img {
  border-radius: 0;
  object-fit: cover;
  object-position: 0 35%; /* adjust the percentage value to control the amount of "cropping" */
  width: 100%;
  height: 45vh; /* adjust the height value to control the aspect ratio */
}

.descrpt {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-font);
  padding: 20px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 10px;
}

button {
  color: white;
  margin-top: 20px;
  font-family: "root beer";
  letter-spacing: 0.125cap;
}

/* Images  */
.img-container {
  width: 50%; /* Adjust the width as needed */
  margin: auto; /* Centers the container */
  padding: 20px;
  border: 1px solid #ccc; /* Adds a border around the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
  text-align: center; /* Centers the image within the container */
}

img {
  width: 100%; /* Makes the image fill the container */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 5px; /* Optional: rounds the corners of the image */
}

.arrivals_img {
  width: calc(
    33.333% - 20px
  ); /* Adjust the width to fit three images in a row, accounting for the gap */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 5px; /* Optional: rounds the corners of the image */
}

.arrivals_img_container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between images sas needed */
  padding: 20px;
  border: 1px solid #ccc; /* Adds a border around the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
  text-align: center; /* Centers the image within the container */
  border-radius: 5px; /* Optional: rounds the corners of the image */
}

.category_img_container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between images as needed */
  padding: 20px;
  border: 1px solid #ccc; /* Adds a border around the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
  text-align: center; /* Centers the image within the container */
  border-radius: 5px; /* Optional: rounds the corners of the image */
}

.category_img {
  width: calc(
    33.333% - 20px
  ); /* Adjust the width to fit three images in a row, accounting for the gap */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 5px; /* Optional: rounds the corners of the image */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Footer */
footer {
  margin-top: 40px;
  width: 100%;
  background-color: var(--color-primary);
  font-family: "root beer";
  letter-spacing: 0.125cap;
  color: white;
  text-align: center;
  border-top: 1px solid var(--color-border);
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
}

/* Responsive design */
@media (max-width: 768px) {
  nav,
  footer {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5em;
  }
}

:focus {
  outline: none;
  padding: 0.2em;
  box-shadow: 0 0 0 2px var(--color-focus);
  transition: box-shadow 0.2s ease-in-out;
}

/* button {
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
  font-family: "root beer";
  letter-spacing: 0.125cap;
  transition: background-color 0.2s ease-in-out;
} */

button:hover {
  background-color: var(--color-hover);
  color: white;
  transition: background-color 0.2s ease-in-out;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-focus);
  transition: box-shadow 0.2s ease-in-out;
}

/* Promo Banner Styles */
.promo-banner {
  width: 100vw;
  height: fit-content;
  padding: 0.5em;
  background-color: var(--color-primary); /* Set a proper background */
  color: white; /* Ensure text color contrasts with background */
  font-family: "root beer";
  text-align: center; /* Optional: Center align text */
  letter-spacing: 0.125cap;
  /* margin: 1em auto; /* Center promo-banner in the container */
  /* border-radius: 8px; Optional: Add rounded corners for modern design 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Optional: Add shadow for emphasis */
}

/* Link Styles inside .promo-banner */
.promo-banner a {
  color: inherit;
  text-decoration: none;
  font-weight: bold; /* Optional: Make links bold for prominence */
}

.promo-banner a:hover {
  color: var(--color-hover);
  text-decoration: underline;
}

.promo-banner a:active {
  color: var(--color-primary);
}

.promo-banner a:visited {
  color: var(--color-visited);
}

.cart-icon {
  position: relative;
}

.cart-length {
  position: absolute;
  top: 0px;
  right: 0px;
  color: var(--color-primary);
  border-radius: 50%;
  font-size: larger;
}

/*checkout page*/
.checkout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* checkout */
.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.slide-container {
  padding: 5%;
  width: 80%;
  align-items: space-between;
}

.slide-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

/* cart css */
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  background-color: var(--background-color);
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  background-color: var(--background-color);
}

.cart-item img {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.cart-item h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--heading-color);
}

.cart-item p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.cart-item hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--border-color);
  margin-top: 1rem;
}

/* Optional: hover effect */
.cart-item:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.5rem);
}

/* Shop Container */
.shop-container {
  display: flex;
  flex-direction: row; 
  width: 100vw;
  min-height: 100vh;
  border-color: #0099a5;
}

/* Shop Sidebar */
.shop-sidebar {
  width: 25%;
  background-color: var(--color-background);
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-right: 1px solid var(--color-border);
}

  /* Shop Contents */
  .shop-container {
  display: flex;
  flex-direction: row; 
  width: 100vw;
  min-height: 100vh;
  border-color: #0099a5;
  }

  /* Shop Sidebar */
  .shop-sidebar {
  width: 25%;
  background-color: var(--color-background);
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-right: 1px solid var(--color-border);
  }

  /* Shop Contents */
  .shop-contents {
  width: 75%; /* Adjust the width as needed */
  padding: 1em; /* Add padding for spacing */
  background-color: var(--color-background); /* Optional: Add background color */
  display: flex;
  flex-direction: row; /* Arrange children in a row */
  flex-wrap: wrap;
  justify-content: space-between;
  }

  .shop-contents .product-container {
  width: calc(33.333% - 1em); /* Adjust the width to fit three images in a row, accounting for the gap */
  margin-bottom: 1em; /* Add spacing between rows */
  }


.quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:180px;
  height: 50px;
}

.quantity-container input {
  background-color: var(--color-background);
  color: var(--text-color);
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.quantity-container button {
  width: 50px;
  height: 50px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.1em;
}

.quantity-container button:hover {
  background-color: var(--color-hover);
  transition: background-color 0.2s ease-in-out;
}

.quantity-container button:active {
  background-color: var(--color-primary);
  transition: background-color 0.2s ease-in-out;
}

.cart-div {
  height: 50px;
  min-width: 300px;
  min-width: fit-content;
  display: flex;
  flex-direction: row !important;
  white-space: nowrap; 
  flex-grow: 0;
}
.update-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-div button {
  width: 50px;
  height: 50px;
  display: flex; 
  align-items: center; 
  font-size: 5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.1em;
}

form input {
  background-color: var(--color-background);
  color: var(--text-color);
}
